[user]
	email = william@williamassis.com
	name = Will Assis
[core]
	editor = nvim
# 	pager  = delta
[pull]
	rebase = true
[rebase]
	autoStash = true
# [interactive]
# 	diffFilter = delta --color-only
# [delta]
# 	navigate = true
# 	line-numbers = true
# 	syntax-theme = gruvbox
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
