[user]
	email = william@williamassis.com
	name = Will Assis
[core]
	editor = nvim
	; pager  = delta
	excludesFile = ~/.gitignore
[pull]
	rebase = true
[rebase]
	autoStash = true
; [interactive]
; 	diffFilter = delta --color-only
; [delta]
; 	navigate = true
; 	line-numbers = true
; 	syntax-theme = gruvbox-dark
; 	side-by-side = true
; 	diff-so-fancy = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[alias]
  s = status
  w = worktree
  l = log --graph --oneline --decorate
  p = push
  c = commit
  cn = commit --no-verify
  co = checkout
  a = add
  r = rebase
  rc = rebase --continue
  ra = rebase --abort
