.zcompdump
zsh/plugins
nvim/.netrwhist
nvim/plugged
fish/.config/fish/fish_variables
configstore
coc
dconf
pulse
fish/.config/fish/functions/fish_user_key_bindings.fish
fish/.config/fish/functions/fzf_key_bindings.fish
