* {
  font-family: Caskaydia Cove;
  font-size: 14px;
}

window#waybar {
  background-color: #282828;
}

#workspaces, #mode {
  margin-left: 5px;
  padding: 0 5px;
  background-color: #282828;
  border-radius: 5px;
}

#workspaces button {
  margin: 0;
  padding: 2px;
  border-radius: 0;
  color: #928374;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  color: #ebdbb2;
  border-bottom: 3px solid #ebdbb2;
}

#mode, #clock, #network, #battery, #pulseaudio {
  color: #ebdbb2;
  padding: 0 5px;
}

#pulseaudio {
  margin-right: 5px;
}

